/* Headers */

h1, h2, h3, h4, h5, h6, button, a, p {
  color: whitesmoke;
}

.header{
  font-weight:bold;
}

.highlight{
  color:wheat;
}

hr{
  background-color: black;
  color: black;
}

button{
  color: black;
  background-color: gainsboro;
  border-radius: 5px;
}

/* Body */

body {
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
  background-image: url(zassets/bgimage.jpg);
  text-align:center;
}

/* Links */

a {
  color: wheat;
  text-decoration:none;
}

a:visited {
  color:wheat;
}

/* Nav Bar */

.statusbar {
  font-size: 35px;
  background-color: rgba(169, 169, 169, 0.5);
  height: 20px;
  width: 100%;
  padding-bottom: 35px;
  border-radius:10px;
}

.statusbutton {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #424242;
  -moz-box-shadow: 0px 1px 3px #424242;
  box-shadow: 0px 1px 3px #424242;
  text-shadow: 1px 1px 3px #666666;
  border: solid black 2px;
  background-color: darkgray;
  opacity: 10px;
  width:100px;
  color:black;
  font-weight:bold;
}
.statusbutton:hover {
  background: #666666;
}


.sumbitbutton {
  color: black;
  background-color: lightgray;
  width: 100px;
  padding:10px;
  margin:10px;
}

.downloadbutton {
  color: black;
  background-color: royalblue;
  width: 100px;
  height: 25px;
  border-radius: 10px;
}

.downloadbutton:hover {
  background-color: skyblue;
}

/* Articles */

.article {
  padding-left: 5px;
  border-radius: 15px;
  background-color: rgba(41, 41, 41, 0.541);
  color: rgb(255, 250, 240);
  font-weight: bold;
  width: 95%;
  height: 175px;
}

.articleimg {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  padding-bottom: 10px;
}

.article a{
  text-decoration:none;
}

.article{
  padding:20px;
  margin:20px;
  margin-bottom:50px;
  padding-bottom: 50px;
  padding-left:1em;
  line-height:30px;
}

#click_me{
  padding:20px;
  width:200px;
}

/* Footer */

footer {
  padding:20px;
  margin:20px;
  background-color: rgba(169, 169, 169, 0.5);
  text-align:center;
  border-radius:10px;
}

/* Media Queries */

@media (max-width: 768px) {

  .statusbutton {
    width:67px;
    font-size:12px;
    font-weight:bold;
  }

}

.statusbarframe {
  width: 100%;
  height:10%;
}