/* Main elements */
body {
    background: rgb(56,56,56);
    background: linear-gradient(90deg, rgba(30,30,30,1) 0%, rgba(56,56,56,1) 50%, rgba(30,30,30,1) 100%);

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    color: #F8EEEC;
}

.statusbariframe {
    position: sticky;
    top: 0;
    left: 0;
}

iframe {
    width: 100%;
    height: 60px;

    border: none;
}

/* Links and disable highlight */
a {
    transition: all 250ms ease-in-out;
    color: #F8EAAA;
    text-decoration:none;
}
a:visited {
    transition: all 250ms ease-in-out;
    color:#F8EAAA;
}
a:hover {
    transition: all 250ms ease-in-out;
    color: #ffe46c;
}

/* Containers */
.container {
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; /* Allow images to wrap onto new rows */
    max-width: 80%; /* Prevent row overflow and keep images uniform */
    margin: auto; /* Center the gallery container */
}

.notification {
    margin-left: .5%;

    width: 49%;

    background-color: rgba(115, 115, 115, .75);

    border-color: rgb(100, 100, 100);
    border-color: #666666;
    border-width: 3px;
    border-style: solid;

    border-radius: 25px;
}

.fullfieldcompact {
    margin-left: 2%;
    margin-right: 2%;

    width: 25%;
    background-color: rgba(115, 115, 115, .5);

    border-color: rgb(100, 100, 100);
    border-color: #666666;
    border-width: 3px;
    border-style: solid;
    
    
    border-radius: 10px;
}

/* Status bar */
.statusbar {
    background-color: rgb(59, 59, 59);

    border-radius: 50px;
}

button {
    transition: all 250ms ease-in-out;
    
    height: 30px;
    width: 120px;

    background-color: #777777;

    border: solid black 2px;
    border-radius: 50px;
    box-shadow: 2px 2px rgb(44, 44, 44);
}
button:hover {
    transition: all 250ms ease-in-out;
    background-color: #666666;
    border-radius: 12px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    height: 50px;
    font-weight: bold;

    background-color: rgb(59, 59, 59);

    border-radius: 50px;
    
}

/* Additional */
hr {
    display: block;
    border: 0;
    border-top: 1px solid #777777;
}
.blackhr {
    border-top: 1px solid #666666;
}

.notifdata {
    color: darkgray;
}

.socialsiframe {
    height: 64px;
}

.redwarning {
    background-color: red;
}